

 <nav class="navbar navbar-inverse">
 <div class="container-fluid">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle" data-toggle="collapse" datatarget="#myNavbar">

 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" [routerLink]="['MainPage']">DoomHotels</a>

 </div>

 <div class="collapse navbar-collapse" id="myNavbar">
 <ul class="nav navbar-nav">
	 <li [class.active]="router.isRouteActive(router.generate(['MainPage']))"><a [routerLink]="['MainPage']">Start page</a></li>
	 <li [class.active]="router.isRouteActive(router.generate(['AboutUs']))"><a [routerLink]="['AboutUs']">About us</a></li>
	 <li [class.active]="router.isRouteActive(router.generate(['Sobe']))"><a [routerLink]="['Sobe']">Seach rooms</a></li>
	 <li *ngIf="isAuth == 'yes'" [class.active]="router.isRouteActive(router.generate(['Dodaj']))"><a [routerLink]="['Dodaj']">Add room</a></li>

 </ul>

 <ul class="nav navbar-nav navbar-right" id="desno">

<li *ngIf="isAuth == 'no'" [class.active]="router.isRouteActive(router.generate(['FormPage']))">><a [routerLink]="['FormPage']"><span class="glyphicon glyphicon-user"></span>
	SignUp </a></li>
<li *ngIf="isAuth == 'no'" [class.active]="router.isRouteActive(router.generate(['FormPage2']))">><a [routerLink]="['FormPage2']"><span class="glyphicon glyphicon-log-in"></span>
	LogIn </a></li>


<li *ngIf="isAuth == 'yes'" ><a (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span> LogOut </a></li>
 </ul>
 </div>
 </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
